@theme {
  --spacing-0: 0rem;
  --spacing-1: 0.0625rem;
  --spacing-2: 0.125rem;
  --spacing-3: 0.1875rem;
  --spacing-4: 0.25rem;
  --spacing-5: 0.3125rem;
  --spacing-6: 0.375rem;
  --spacing-7: 0.4375rem;
  --spacing-8: 0.5rem;
  --spacing-9: 0.5625rem;
  --spacing-10: 0.625rem;
  --spacing-11: 0.6875rem;
  --spacing-12: 0.75rem;
  --spacing-13: 0.8125rem;
  --spacing-14: 0.875rem;
  --spacing-15: 0.9375rem;
  --spacing-16: 1rem;
  --spacing-17: 1.0625rem;
  --spacing-18: 1.125rem;
  --spacing-19: 1.1875rem;
  --spacing-20: 1.25rem;
  --spacing-21: 1.3125rem;
  --spacing-22: 1.375rem;
  --spacing-23: 1.4375rem;
  --spacing-24: 1.5rem;
  --spacing-25: 1.5625rem;
  --spacing-26: 1.625rem;
  --spacing-27: 1.6875rem;
  --spacing-28: 1.75rem;
  --spacing-29: 1.8125rem;
  --spacing-30: 1.875rem;
  --spacing-31: 1.9375rem;
  --spacing-32: 2rem;
  --spacing-33: 2.0625rem;
  --spacing-34: 2.125rem;
  --spacing-35: 2.1875rem;
  --spacing-36: 2.25rem;
  --spacing-37: 2.3125rem;
  --spacing-38: 2.375rem;
  --spacing-39: 2.4375rem;
  --spacing-40: 2.5rem;
  --spacing-41: 2.5625rem;
  --spacing-42: 2.625rem;
  --spacing-43: 2.6875rem;
  --spacing-44: 2.75rem;
  --spacing-45: 2.8125rem;
  --spacing-46: 2.875rem;
  --spacing-47: 2.9375rem;
  --spacing-48: 3rem;
  --spacing-49: 3.0625rem;
  --spacing-50: 3.125rem;
  --spacing-51: 3.1875rem;
  --spacing-52: 3.25rem;
  --spacing-53: 3.3125rem;
  --spacing-54: 3.375rem;
  --spacing-55: 3.4375rem;
  --spacing-56: 3.5rem;
  --spacing-57: 3.5625rem;
  --spacing-58: 3.625rem;
  --spacing-59: 3.6875rem;
  --spacing-60: 3.75rem;
  --spacing-61: 3.8125rem;
  --spacing-62: 3.875rem;
  --spacing-63: 3.9375rem;
  --spacing-64: 4rem;
  --spacing-65: 4.0625rem;
  --spacing-66: 4.125rem;
  --spacing-67: 4.1875rem;
  --spacing-68: 4.25rem;
  --spacing-69: 4.3125rem;
  --spacing-70: 4.375rem;
  --spacing-71: 4.4375rem;
  --spacing-72: 4.5rem;
  --spacing-73: 4.5625rem;
  --spacing-74: 4.625rem;
  --spacing-75: 4.6875rem;
  --spacing-76: 4.75rem;
  --spacing-77: 4.8125rem;
  --spacing-78: 4.875rem;
  --spacing-79: 4.9375rem;
  --spacing-80: 5rem;
  --spacing-81: 5.0625rem;
  --spacing-82: 5.125rem;
  --spacing-83: 5.1875rem;
  --spacing-84: 5.25rem;
  --spacing-85: 5.3125rem;
  --spacing-86: 5.375rem;
  --spacing-87: 5.4375rem;
  --spacing-88: 5.5rem;
  --spacing-89: 5.5625rem;
  --spacing-90: 5.625rem;
  --spacing-91: 5.6875rem;
  --spacing-92: 5.75rem;
  --spacing-93: 5.8125rem;
  --spacing-94: 5.875rem;
  --spacing-95: 5.9375rem;
  --spacing-96: 6rem;
  --spacing-97: 6.0625rem;
  --spacing-98: 6.125rem;
  --spacing-99: 6.1875rem;
  --spacing-100: 6.25rem;
  --spacing-101: 6.3125rem;
  --spacing-102: 6.375rem;
  --spacing-103: 6.4375rem;
  --spacing-104: 6.5rem;
  --spacing-105: 6.5625rem;
  --spacing-106: 6.625rem;
  --spacing-107: 6.6875rem;
  --spacing-108: 6.75rem;
  --spacing-109: 6.8125rem;
  --spacing-110: 6.875rem;
  --spacing-111: 6.9375rem;
  --spacing-112: 7rem;
  --spacing-113: 7.0625rem;
  --spacing-114: 7.125rem;
  --spacing-115: 7.1875rem;
  --spacing-116: 7.25rem;
  --spacing-117: 7.3125rem;
  --spacing-118: 7.375rem;
  --spacing-119: 7.4375rem;
  --spacing-120: 7.5rem;
  --spacing-121: 7.5625rem;
  --spacing-122: 7.625rem;
  --spacing-123: 7.6875rem;
  --spacing-124: 7.75rem;
  --spacing-125: 7.8125rem;
  --spacing-126: 7.875rem;
  --spacing-127: 7.9375rem;
  --spacing-128: 8rem;
  --spacing-129: 8.0625rem;
  --spacing-130: 8.125rem;
  --spacing-131: 8.1875rem;
  --spacing-132: 8.25rem;
  --spacing-133: 8.3125rem;
  --spacing-134: 8.375rem;
  --spacing-135: 8.4375rem;
  --spacing-136: 8.5rem;
  --spacing-137: 8.5625rem;
  --spacing-138: 8.625rem;
  --spacing-139: 8.6875rem;
  --spacing-140: 8.75rem;
  --spacing-141: 8.8125rem;
  --spacing-142: 8.875rem;
  --spacing-143: 8.9375rem;
  --spacing-144: 9rem;
  --spacing-145: 9.0625rem;
  --spacing-146: 9.125rem;
  --spacing-147: 9.1875rem;
  --spacing-148: 9.25rem;
  --spacing-149: 9.3125rem;
  --spacing-150: 9.375rem;
  --spacing-151: 9.4375rem;
  --spacing-152: 9.5rem;
  --spacing-153: 9.5625rem;
  --spacing-154: 9.625rem;
  --spacing-155: 9.6875rem;
  --spacing-156: 9.75rem;
  --spacing-157: 9.8125rem;
  --spacing-158: 9.875rem;
  --spacing-159: 9.9375rem;
  --spacing-160: 10rem;
  --spacing-161: 10.0625rem;
  --spacing-162: 10.125rem;
  --spacing-163: 10.1875rem;
  --spacing-164: 10.25rem;
  --spacing-165: 10.3125rem;
  --spacing-166: 10.375rem;
  --spacing-167: 10.4375rem;
  --spacing-168: 10.5rem;
  --spacing-169: 10.5625rem;
  --spacing-170: 10.625rem;
  --spacing-171: 10.6875rem;
  --spacing-172: 10.75rem;
  --spacing-173: 10.8125rem;
  --spacing-174: 10.875rem;
  --spacing-175: 10.9375rem;
  --spacing-176: 11rem;
  --spacing-177: 11.0625rem;
  --spacing-178: 11.125rem;
  --spacing-179: 11.1875rem;
  --spacing-180: 11.25rem;
  --spacing-181: 11.3125rem;
  --spacing-182: 11.375rem;
  --spacing-183: 11.4375rem;
  --spacing-184: 11.5rem;
  --spacing-185: 11.5625rem;
  --spacing-186: 11.625rem;
  --spacing-187: 11.6875rem;
  --spacing-188: 11.75rem;
  --spacing-189: 11.8125rem;
  --spacing-190: 11.875rem;
  --spacing-191: 11.9375rem;
  --spacing-192: 12rem;
  --spacing-193: 12.0625rem;
  --spacing-194: 12.125rem;
  --spacing-195: 12.1875rem;
  --spacing-196: 12.25rem;
  --spacing-197: 12.3125rem;
  --spacing-198: 12.375rem;
  --spacing-199: 12.4375rem;
  --spacing-200: 12.5rem;
  --spacing-201: 12.5625rem;
  --spacing-202: 12.625rem;
  --spacing-203: 12.6875rem;
  --spacing-204: 12.75rem;
  --spacing-205: 12.8125rem;
  --spacing-206: 12.875rem;
  --spacing-207: 12.9375rem;
  --spacing-208: 13rem;
  --spacing-209: 13.0625rem;
  --spacing-210: 13.125rem;
  --spacing-211: 13.1875rem;
  --spacing-212: 13.25rem;
  --spacing-213: 13.3125rem;
  --spacing-214: 13.375rem;
  --spacing-215: 13.4375rem;
  --spacing-216: 13.5rem;
  --spacing-217: 13.5625rem;
  --spacing-218: 13.625rem;
  --spacing-219: 13.6875rem;
  --spacing-220: 13.75rem;
  --spacing-221: 13.8125rem;
  --spacing-222: 13.875rem;
  --spacing-223: 13.9375rem;
  --spacing-224: 14rem;
  --spacing-225: 14.0625rem;
  --spacing-226: 14.125rem;
  --spacing-227: 14.1875rem;
  --spacing-228: 14.25rem;
  --spacing-229: 14.3125rem;
  --spacing-230: 14.375rem;
  --spacing-231: 14.4375rem;
  --spacing-232: 14.5rem;
  --spacing-233: 14.5625rem;
  --spacing-234: 14.625rem;
  --spacing-235: 14.6875rem;
  --spacing-236: 14.75rem;
  --spacing-237: 14.8125rem;
  --spacing-238: 14.875rem;
  --spacing-239: 14.9375rem;
  --spacing-240: 15rem;
  --spacing-241: 15.0625rem;
  --spacing-242: 15.125rem;
  --spacing-243: 15.1875rem;
  --spacing-244: 15.25rem;
  --spacing-245: 15.3125rem;
  --spacing-246: 15.375rem;
  --spacing-247: 15.4375rem;
  --spacing-248: 15.5rem;
  --spacing-249: 15.5625rem;
  --spacing-250: 15.625rem;
  --spacing-251: 15.6875rem;
  --spacing-252: 15.75rem;
  --spacing-253: 15.8125rem;
  --spacing-254: 15.875rem;
  --spacing-255: 15.9375rem;
  --spacing-256: 16rem;
  --spacing-257: 16.0625rem;
  --spacing-258: 16.125rem;
  --spacing-259: 16.1875rem;
  --spacing-260: 16.25rem;
  --spacing-261: 16.3125rem;
  --spacing-262: 16.375rem;
  --spacing-263: 16.4375rem;
  --spacing-264: 16.5rem;
  --spacing-265: 16.5625rem;
  --spacing-266: 16.625rem;
  --spacing-267: 16.6875rem;
  --spacing-268: 16.75rem;
  --spacing-269: 16.8125rem;
  --spacing-270: 16.875rem;
  --spacing-271: 16.9375rem;
  --spacing-272: 17rem;
  --spacing-273: 17.0625rem;
  --spacing-274: 17.125rem;
  --spacing-275: 17.1875rem;
  --spacing-276: 17.25rem;
  --spacing-277: 17.3125rem;
  --spacing-278: 17.375rem;
  --spacing-279: 17.4375rem;
  --spacing-280: 17.5rem;
  --spacing-281: 17.5625rem;
  --spacing-282: 17.625rem;
  --spacing-283: 17.6875rem;
  --spacing-284: 17.75rem;
  --spacing-285: 17.8125rem;
  --spacing-286: 17.875rem;
  --spacing-287: 17.9375rem;
  --spacing-288: 18rem;
  --spacing-289: 18.0625rem;
  --spacing-290: 18.125rem;
  --spacing-291: 18.1875rem;
  --spacing-292: 18.25rem;
  --spacing-293: 18.3125rem;
  --spacing-294: 18.375rem;
  --spacing-295: 18.4375rem;
  --spacing-296: 18.5rem;
  --spacing-297: 18.5625rem;
  --spacing-298: 18.625rem;
  --spacing-299: 18.6875rem;
  --spacing-300: 18.75rem;
  --spacing-301: 18.8125rem;
  --spacing-302: 18.875rem;
  --spacing-303: 18.9375rem;
  --spacing-304: 19rem;
  --spacing-305: 19.0625rem;
  --spacing-306: 19.125rem;
  --spacing-307: 19.1875rem;
  --spacing-308: 19.25rem;
  --spacing-309: 19.3125rem;
  --spacing-310: 19.375rem;
  --spacing-311: 19.4375rem;
  --spacing-312: 19.5rem;
  --spacing-313: 19.5625rem;
  --spacing-314: 19.625rem;
  --spacing-315: 19.6875rem;
  --spacing-316: 19.75rem;
  --spacing-317: 19.8125rem;
  --spacing-318: 19.875rem;
  --spacing-319: 19.9375rem;
  --spacing-320: 20rem;
  --spacing-321: 20.0625rem;
  --spacing-322: 20.125rem;
  --spacing-323: 20.1875rem;
  --spacing-324: 20.25rem;
  --spacing-325: 20.3125rem;
  --spacing-326: 20.375rem;
  --spacing-327: 20.4375rem;
  --spacing-328: 20.5rem;
  --spacing-329: 20.5625rem;
  --spacing-330: 20.625rem;
  --spacing-331: 20.6875rem;
  --spacing-332: 20.75rem;
  --spacing-333: 20.8125rem;
  --spacing-334: 20.875rem;
  --spacing-335: 20.9375rem;
  --spacing-336: 21rem;
  --spacing-337: 21.0625rem;
  --spacing-338: 21.125rem;
  --spacing-339: 21.1875rem;
  --spacing-340: 21.25rem;
  --spacing-341: 21.3125rem;
  --spacing-342: 21.375rem;
  --spacing-343: 21.4375rem;
  --spacing-344: 21.5rem;
  --spacing-345: 21.5625rem;
  --spacing-346: 21.625rem;
  --spacing-347: 21.6875rem;
  --spacing-348: 21.75rem;
  --spacing-349: 21.8125rem;
  --spacing-350: 21.875rem;
  --spacing-351: 21.9375rem;
  --spacing-352: 22rem;
  --spacing-353: 22.0625rem;
  --spacing-354: 22.125rem;
  --spacing-355: 22.1875rem;
  --spacing-356: 22.25rem;
  --spacing-357: 22.3125rem;
  --spacing-358: 22.375rem;
  --spacing-359: 22.4375rem;
  --spacing-360: 22.5rem;
  --spacing-361: 22.5625rem;
  --spacing-362: 22.625rem;
  --spacing-363: 22.6875rem;
  --spacing-364: 22.75rem;
  --spacing-365: 22.8125rem;
  --spacing-366: 22.875rem;
  --spacing-367: 22.9375rem;
  --spacing-368: 23rem;
  --spacing-369: 23.0625rem;
  --spacing-370: 23.125rem;
  --spacing-371: 23.1875rem;
  --spacing-372: 23.25rem;
  --spacing-373: 23.3125rem;
  --spacing-374: 23.375rem;
  --spacing-375: 23.4375rem;
  --spacing-376: 23.5rem;
  --spacing-377: 23.5625rem;
  --spacing-378: 23.625rem;
  --spacing-379: 23.6875rem;
  --spacing-380: 23.75rem;
  --spacing-381: 23.8125rem;
  --spacing-382: 23.875rem;
  --spacing-383: 23.9375rem;
  --spacing-384: 24rem;
  --spacing-385: 24.0625rem;
  --spacing-386: 24.125rem;
  --spacing-387: 24.1875rem;
  --spacing-388: 24.25rem;
  --spacing-389: 24.3125rem;
  --spacing-390: 24.375rem;
  --spacing-391: 24.4375rem;
  --spacing-392: 24.5rem;
  --spacing-393: 24.5625rem;
  --spacing-394: 24.625rem;
  --spacing-395: 24.6875rem;
  --spacing-396: 24.75rem;
  --spacing-397: 24.8125rem;
  --spacing-398: 24.875rem;
  --spacing-399: 24.9375rem;
  --spacing-400: 25rem;
  --spacing-401: 25.0625rem;
  --spacing-402: 25.125rem;
  --spacing-403: 25.1875rem;
  --spacing-404: 25.25rem;
  --spacing-405: 25.3125rem;
  --spacing-406: 25.375rem;
  --spacing-407: 25.4375rem;
  --spacing-408: 25.5rem;
  --spacing-409: 25.5625rem;
  --spacing-410: 25.625rem;
  --spacing-411: 25.6875rem;
  --spacing-412: 25.75rem;
  --spacing-413: 25.8125rem;
  --spacing-414: 25.875rem;
  --spacing-415: 25.9375rem;
  --spacing-416: 26rem;
  --spacing-417: 26.0625rem;
  --spacing-418: 26.125rem;
  --spacing-419: 26.1875rem;
  --spacing-420: 26.25rem;
  --spacing-421: 26.3125rem;
  --spacing-422: 26.375rem;
  --spacing-423: 26.4375rem;
  --spacing-424: 26.5rem;
  --spacing-425: 26.5625rem;
  --spacing-426: 26.625rem;
  --spacing-427: 26.6875rem;
  --spacing-428: 26.75rem;
  --spacing-429: 26.8125rem;
  --spacing-430: 26.875rem;
  --spacing-431: 26.9375rem;
  --spacing-432: 27rem;
  --spacing-433: 27.0625rem;
  --spacing-434: 27.125rem;
  --spacing-435: 27.1875rem;
  --spacing-436: 27.25rem;
  --spacing-437: 27.3125rem;
  --spacing-438: 27.375rem;
  --spacing-439: 27.4375rem;
  --spacing-440: 27.5rem;
  --spacing-441: 27.5625rem;
  --spacing-442: 27.625rem;
  --spacing-443: 27.6875rem;
  --spacing-444: 27.75rem;
  --spacing-445: 27.8125rem;
  --spacing-446: 27.875rem;
  --spacing-447: 27.9375rem;
  --spacing-448: 28rem;
  --spacing-449: 28.0625rem;
  --spacing-450: 28.125rem;
  --spacing-451: 28.1875rem;
  --spacing-452: 28.25rem;
  --spacing-453: 28.3125rem;
  --spacing-454: 28.375rem;
  --spacing-455: 28.4375rem;
  --spacing-456: 28.5rem;
  --spacing-457: 28.5625rem;
  --spacing-458: 28.625rem;
  --spacing-459: 28.6875rem;
  --spacing-460: 28.75rem;
  --spacing-461: 28.8125rem;
  --spacing-462: 28.875rem;
  --spacing-463: 28.9375rem;
  --spacing-464: 29rem;
  --spacing-465: 29.0625rem;
  --spacing-466: 29.125rem;
  --spacing-467: 29.1875rem;
  --spacing-468: 29.25rem;
  --spacing-469: 29.3125rem;
  --spacing-470: 29.375rem;
  --spacing-471: 29.4375rem;
  --spacing-472: 29.5rem;
  --spacing-473: 29.5625rem;
  --spacing-474: 29.625rem;
  --spacing-475: 29.6875rem;
  --spacing-476: 29.75rem;
  --spacing-477: 29.8125rem;
  --spacing-478: 29.875rem;
  --spacing-479: 29.9375rem;
  --spacing-480: 30rem;
  --spacing-481: 30.0625rem;
  --spacing-482: 30.125rem;
  --spacing-483: 30.1875rem;
  --spacing-484: 30.25rem;
  --spacing-485: 30.3125rem;
  --spacing-486: 30.375rem;
  --spacing-487: 30.4375rem;
  --spacing-488: 30.5rem;
  --spacing-489: 30.5625rem;
  --spacing-490: 30.625rem;
  --spacing-491: 30.6875rem;
  --spacing-492: 30.75rem;
  --spacing-493: 30.8125rem;
  --spacing-494: 30.875rem;
  --spacing-495: 30.9375rem;
  --spacing-496: 31rem;
  --spacing-497: 31.0625rem;
  --spacing-498: 31.125rem;
  --spacing-499: 31.1875rem;
  --spacing-500: 31.25rem;
}
